{% extends "base.html" %}
{% block body %}

<h1>Welcome!</h1>
<div class="block">
  <div class="clickableImage"> <!-- Email -->
    <a href="mailto:lineypercy@me.com">
      <i class="fa-solid fa-envelope fa-4x" style="color:black;"></i>
    </a>
  </div>

  <div class="clickableImage"> <!-- LinkedIn Page -->
    <a href="https://ie.linkedin.com/in/caroline-percy-930a33173">
      <i class="fa-brands fa-linkedin fa-4x" style="color:black;"></i>
    </a>
  </div>

  <div class="clickableImage"> <!-- Phone Number -->
    <a href="tel:+857033410">
      <i class="fa-solid fa-phone fa-4x" style="color:black;"></i>
    </a>
  </div>
</div>
{% endblock %}
