{% extends "base.html" %}
{% block body %}

<h1>Welcome!</h1>
<div class="block">
  <h2>Test Title</h2>
  <table>
    <tr>
      <td>
        <div class="leftSide">
          <img src="https://ak.picdn.net/shutterstock/videos/6441428/thumb/1.jpg" alt="Unused"
          width="400">
        </div>
      </td>
      <td>
        <div class="rightSide">
          <p>Testing!</p>
        </div>
      </td>
    </tr>
  </table>

  <h2>Test Title</h2>
  <table>
    <tr>
      <td>
        <div class="leftSide">
          <img src="https://ak.picdn.net/shutterstock/videos/6441428/thumb/1.jpg" alt="Unused"
          width="400">
        </div>
      </td>
      <td>
        <div class="rightSide">
          <p>Testing!</p>
        </div>
      </td>
    </tr>
  </table>

  <h2>Test Title</h2>
  <table>
    <tr>
      <td>
        <div class="leftSide">
          <img src="https://ak.picdn.net/shutterstock/videos/6441428/thumb/1.jpg" alt="Unused"
          width="400">
        </div>
      </td>
      <td>
        <div class="rightSide">
          <p>Testing!</p>
        </div>
      </td>
    </tr>
  </table>
</div>
{% endblock %}
